* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
  }
  
  body {
    font-family: Arial, sans-serif;
  }

  
  
  
  .grid-container {
    display: grid;
    grid-template-areas:
      "site-title nav1 nav2 nav3"
      "post-title post-title post-title sidebar"
      "post-meta main-content main-content sidebar"
      "post-meta main-content-image main-content-image ads"
      "post-meta main-content-image main-content-image otherstuff"
      "footer footer footer footer ";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:auto;
    gap: 2px;
    padding: 20px;
  }
  
  .site-title {
    grid-area: site-title;
    background: #fed531;
    font-weight: bold ;
    height: 50px ;
    

  }
  
  .nav1 {
    grid-area: nav1;
    background: pink;
    font-weight: bold;
  column-width: auto;
    

  }
  
  .nav2 {
    grid-area: nav2;
    background: pink;
    font-weight: bold;
  }
  
  .nav3 {
    grid-area: nav3;
    background: pink;
    font-weight: bold;
    
  }
  
  .post-title {
    grid-area: post-title;
    background: lightblue;
    font-weight: bold;
    height: 50px;
  }
  
  .sidebar {
    grid-area: sidebar;
    background: #fcaa4c;
    font-weight: bold;
    
    
  }
  
  .post-meta {
    grid-area: post-meta;
    background: lightgreen;
    font-weight: bold;
   
  }
  
  .main-content {
    grid-area: main-content;
    background: lightgray;
    font-weight: bold;
    height: 100px ;
    
   
  }
  
  .main-content-image {
    grid-area: main-content-image;
    background: yellow;
    font-weight: bold;
     
  }
  
  .ads {
    grid-area: ads;
    background: green;
    font-weight: bold;
    height: 150px;
    
  }
  
  .other-stuffs {
    grid-area: other-stuffs;
    background: #da50f9;
    padding: 50px;
    grid-column: 4;
    grid-row: 5;
    font-weight: bold;
  
   
  }
  
  .footer {
    grid-area: footer;
    background: #a08880;
    color: black;
    padding: 10px;
    font-weight: bold;
    height: 50px;
  }
  
